@{
    ViewData["Title"] = "Create Product";
}
<title>@ViewData["Title"]</title>
@model T_Stock.Models.InventoryListVM

<div class="CREATE">
    <h2>Add Inventory Item</h2>
    <form asp-action="Create" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Price (RM)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="item-rows">
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <td>
                            <input asp-for="Items[@i].ItemName" class="form-control" />
                            <span asp-validation-for="Items[@i].ItemName" class="text-danger"></span>
                        </td>

                        <td>
                            <input asp-for="Items[@i].Category" class="form-control" />
                            <span asp-validation-for="Items[@i].Category" class="text-danger"></span>
                        </td>

                        <td>
                            <input asp-for="Items[@i].Quantity" type="number" class="form-control" />
                            <span asp-validation-for="Items[@i].Quantity" class="text-danger"></span>
                        </td>

                        <td>
                            <input asp-for="Items[@i].Price" type="number" class="form-control" />
                            <span asp-validation-for="Items[@i].Price" class="text-danger"></span>
                        </td>

                        <td>
                            <button type="button" onclick="removeRow(this)">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <button type="button" onclick="addRow()">+ Add Row</button>
        <button type="submit" class="ajax-button" data-url="/Inventory/Index">Create</button>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    <br />
    <a href="/Home/Index" class="btn btn-secondary ajax-nav">Home</a>
    <a href="/Inventory/Index" class="btn btn-secondary ajax-nav">Back</a>
</div>