<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
            <div class="sidebar">
                <div class="top">
                    <div class="logo">
                        <i class="ri-unsplash-fill"></i>
                        <span>T-Stock</span>
                    </div>
                </div>
                <div class="user">
                    <img src="/test.png" alt="me" class="user-img" />
                    <div>
                        <p class="bold">Kai</p>
                        <p>Admin</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="/Inventory/Create">
                            <i class="ri-home-5-fill"></i>
                            <span class="nav-item">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-clipboard-line"></i>
                            <span class="nav-item">Inventory</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-file-list-fill"></i>
                            <span class="nav-item">Purchase <br /> Order</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-caravan-line"></i>
                            <span class="nav-item">Supplier</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ri-file-chart-fill"></i>
                            <span class="nav-item">Reports</span>
                        </a>
                    </li>
                </ul>
                <div class="logout">
                    <i class="ri-shut-down-line"></i>
                    <p>Logout</p>
                </div>
            </div>
        @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
