* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.sidebar:hover ~ #ajax-content .main-content {
    left: 120px;
    width: calc(100% - 320px);
}

.sidebar:hover ~ #ajax-content .dashboard {
    left: 120px;
    width: calc(100% - 320px);
}

.sidebar:hover ~ #ajax-content .sales {
    left: 80px;
    transform:scaleX(0.9);
    transform-origin:right;
}

.sidebar:hover ~ #ajax-content .purchase-order {
    transform: scaleX(0.91);
    transform-origin: right;
}

.sidebar:hover ~ #ajax-content .budget {
    left: 40px;
    transform: scaleX(0.9);
    transform-origin: right;
}

.sidebar:hover ~ #ajax-content .CREATE {
    left: 120px;
    width: calc(100% - 800px);
}

.sidebar:hover ~ #ajax-content .NOTI {
    left: 120px;
    width: calc(100% - 800px);
}

.sidebar:hover ~ #ajax-content .INVENTORY {
    left: 120px;
    width: calc(100% - 800px);
}

.user-img {
    width: 50px;
    height: 50px;
    transform: translateX(-5px);
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar span {
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar:hover span {
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: #12171e;
    opacity: 1;
    padding: 0.4rem 0.8rem;
    transition: all 0.4s ease;
}

.sidebar:hover {
    width: 220px;
    opacity: 0.9;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    transform: translateX(18%);
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar:hover .top .logo {
    opacity: 1;
    transform: translateX(-0.5%);
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar .top {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.sidebar:hover .top {
    opacity: 1;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}

.user p {
    color: #fff;
    opacity: 1;
    margin: 0;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar:hover p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%; 
    margin: 0.8rem auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    transform: translateX(-25px);
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 40px;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.sidebar .nav-item {
    opacity: 0;
    transition: all 0.5s ease;
    
}

.sidebar:hover .nav-item {
    opacity: 1;
}

.main-content {
    position: relative;
    display: flex;
    background-color: #fff;
    min-height: 10vh;
    top: 0;
    left: 0px;
    margin-left: 100px;
    transition: all 0.4s ease;
    width: calc(100% - 200px);
    padding: 1rem;
}

.search-container {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10px);
    transform: scaleX(0.8);
    transition: all 0.4s ease;
    margin-right: 100px;
}

    .search-container:hover {
        width: calc(100% - 90px);
        transform: scaleX(0.9);
    }

    .search-container input {
        width: 100%;
        padding: 10px 40px 10px 20px;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        font-size: 18px;
    }

    .search-container i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
    }



.notitoggle {
    display: flex;
}

.dashboard {
    position: relative;
    width: calc(110% - 350px);
    transition: all 0.4s ease;
    border-radius: 20px;
    background-color: lightgray;
    padding: 15px;
    top: 0;
    left: 0;
    margin-left: 120px;
}

    .dashboard .info > a .product:hover,
    .dashboard .info > a .order:hover,
    .dashboard .info > a .stock:hover {
        box-shadow: rgba(0,0,0,0.4) 6px 6px;
        transform: translateY(-5px);
    }

    .dashboard h3 {
        margin-left: 5px;
    }

    .dashboard .info {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 20px;
        margin-top: 3px;
    }

    .dashboard .info a {
        
        text-decoration: none;
        color: black;
    }

        .dashboard .info > a > div {
            background-color: #f0f0f0;
            padding: 30px;
            border-radius: 10px;
            width: 250px;
            min-width: 150px;
            height: 130px;
            transition: all 0.2s ease;
        }

        .dashboard .info p {
            margin: 0;
            margin-top: 10px;
            gap: 20px;
            width: 150px;
            height: 50px;
            transform: translate(8px, 5px);
        }

.product,
.order,
.stock {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid #b0b0b0;
}

.out-of-stock {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid #ff7f7f;
}

.dashboard .info > a .out-of-stock:hover {
    box-shadow: red 6px 6px;
    transform: translateY(-5px);
}

.product-text,
.order-text,
.stock-text,
.outstock-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.i-dashboard {
    background-color: lightgreen;
    border-radius: 10px;
    border:inherit;
    padding: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-dashboard-out {
    background-color: red;
    border-radius: 10px;
    border: inherit;
    padding: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-text h2,
.order-text h2,
.stock-text h2,
.outstock-text h2 {
    width: fit-content;
    margin: 0;
    padding: 3px 8px;
    border-radius: 5px;
    transform: translate(-5px, 10px);
}

.sales {
    position: relative;
    width: clamp(300px, 100vw - 240px, 1290px);
    top: 0;
    left: 0;
    background-color: lightgray;
    margin-top: 20px;
    margin-left: 120px;
    height: min-content;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.sales h3 {
    padding: 15px;
}

.sales p {
    padding-left: 15px;
    margin: 6px;
}

.budget {
    background-color: lightgray;
    height: min-content;
    width: clamp(300px, 100vw - 240px, 1290px);
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 0;
    margin-left: 20px;
}

.budget h3{
    padding: 15px;
}

.budget h4 {
    padding: 5px 20px;
    color: limegreen;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.notification a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: solid;
    padding: 5px;
}

.btnn {
    text-decoration: none;
}

.logout {
    display: flex;
    gap: 10px;
    color: red;
    transform: translate(18px, 60px);
    cursor: pointer;
}

.logout p {
    transform: translateY(6px);
}

.purchase-order {
    background-color: lightgray;
    height: min-content;
    width: clamp(300px, 100vw - 240px, 1290px);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 0;
    margin-left: 20px;
}

.purchase-order h4 {
    transform: translate(1px, 16px);
    color: red;
}

.theme-toggle {
    width: 60px;
    height: 35px;
    background: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    top: 10px;
    margin-left: 10px;

}

    .theme-toggle i {
        font-size: 14px;
        width: 18px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #444;
        z-index: 2;
        pointer-events: none;
    }

.toggle-ball {
    position: absolute;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: white;
    transition: left .2s ease;
}

.theme-toggle.active {
    background: #394049;
}

.theme-toggle.active i {
    color: #ffd;
}

.theme-toggle.active .toggle-ball {
    left: 32px;
    background: #222;
}

.toggle-ball.move-right {
    left: 30px;
}

body,
.sidebar,
.main-content,
.dashboard,
.sales,
.budget,
.product,
.order,
.stock,
.out-of-stock,
.search-container input,
.purchase-order {
    transition: all 0.5s ease, color 0.5s ease;
}

.CREATE {
    margin-left: 100px;
    padding: 20px;
    position: relative;
    background-color: #fff;
    min-height: 10vh;
    top: 0;
    left: 0px;
    transition: all 0.5s ease;
    width: calc(100% - 700px);
}

.CREATE h2 {
    width: 1000px;
}

.CREATE table {
    width: 800px;
}

.CREATE .form-group {
    width: 500px;
}

.down_container {
    display: flex;
    width:87%;
    justify-content:space-around;
    margin: 0;
}

.NOTI {
    margin-left: 100px;
    padding: 20px;
    position: relative;
    background-color: #fff;
    min-height: 10vh;
    top: 0;
    left: 0px;
    transition: all 0.5s ease;
    width: calc(100% - 1000px);
}

.NOTI p {

}

.INVENTORY {
    margin-left: 100px;
    padding: 20px;
    position: relative;
    background-color: #fff;
    min-height: 10vh;
    top: 0;
    left: 0px;
    transition: all 0.5s ease;
    width: calc(100% - 700px);
}








/* Dark Mode */
body.dark-mode {
    background-color: black;
    color: #eee;
}

    body.dark-mode .main-content {
        background-color: black;
        opacity: 1;
    }

    body.dark-mode .sidebar {
        background-color: #1a1a1a;
        opacity: 0.85;
    }

    body.dark-mode .dashboard,
    body.dark-mode .sales,
    body.dark-mode .budget,
    body.dark-mode .purchase-order {
        background-color: #2a2a2a;
        color: #ddd;
    }

    body.dark-mode .i-dashboard {
        background-color: #3a7f3a;
        color: #fff;
    }


    body.dark-mode .product-text h2,
    body.dark-mode .order-text h2,
    body.dark-mode .stock-text h2,
    body.dark-mode .outstock-text h2 {
        color: black;
    }

    body.dark-mode .product-text p,
    body.dark-mode .order-text p,
    body.dark-mode .stock-text p,
    body.dark-mode .outstock-text p {
        color: black;
    }

    body.dark-mode .product,
    body.dark-mode .order,
    body.dark-mode .stock {
        border-color: #555;
    }

    body.dark-mode .search-container input {
        background-color: #333;
        color: #eee;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    }

    body.dark-mode .sales p {
        color: #eee;
    }

    body.dark-mode .notification a {
        color: #eee;
    }

    body.dark-mode .logout {
        color: #ff6666;
    }

    body.dark-mode .button a {
        background-color: #555;
        color: #fff;
        border-color: #888;
    }

    body.dark-mode .test {
        background-color: black;
    }

    body.dark-mode .dashboard .info > a .product:hover,
    body.dark-mode .dashboard .info > a .order:hover,
    body.dark-mode .dashboard .info > a .stock:hover {
        box-shadow: #555 6px 6px;
        transform: translateY(-5px);
    }

    body.dark-mode .dashboard .info > a .out-of-stock:hover {
        box-shadow: red 6px 6px;
        transform: translateY(-5px);
    }

    body.dark-mode .i-dashboard-out {
        background-color: red;
    }

    body.dark-mode .CREATE {
        background-color: black;
    }

    body.dark-mode .NOTI {
        background-color: black;
    }

    body.dark-mode .INVENTORY {
        background-color: black;
    }

    body.dark-mode .INVENTORY th {
        background-color: darkgray;
    }

    body.dark-mode .CREATE th {
        background-color: darkgray;
        border: 1px solid black;
        color: black;
    }

body.dark-mode .theme-toggle {
    background: #30343a;
}

<<<<<<< HEAD
=======
/*KW CSS*/
div.supplierPage {
    margin-left: 100px;
}

i {
    font-size: 25px;
    margin-left: 6px;
}

div.heading {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

    div.heading h3 {
        font-size: 3rem;
        font-weight: 1000;
        width: 70%;
    }

    div.heading input {
        border-radius: 100px;
        font-size: 30px;
        padding: 10px 170px 10px 8px;
    }

div.supplierManage {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    div.supplierManage select {
        border-radius: 15px;
        padding: 7px;
        margin-right: 20px;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 1.3rem;
    }

    div.supplierManage h2 {
        font-size: 25px;
        font-weight: 600;
    }

select.filters option {
    border-radius: 15px;
    padding: 7px;
    margin-right: 20px;
    -webkit-appearance: none;
}

div.filter {
    display: flex;
    gap: 30px;
}

div.supplierAdd {
    margin-top: 40px;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    background-color: limegreen;
    box-shadow: rgba(0,0,0,0.1) -3px 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

div.supplierAdd:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    background-color: green;
    color:whitesmoke;
}

    div.supplierAdd h3 {
        font-size: 20px;
        padding: 6px;
        margin: 0;
    }

div.poAdd {
    margin-top: 40px;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    background-color: limegreen;
    box-shadow: rgba(0,0,0,0.1) -3px 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

    div.poAdd:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease;
        background-color: green;
        color: whitesmoke;
    }

    div.poAdd h3 {
        font-size: 20px;
        padding: 6px;
        margin: 0;
    }

div.supplierManage,div.pagination{
    padding:20px;
}

table {
    width: 97.5%;
    padding: 0;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    margin: 20px 20px 20px 20px;
    border: 1px solid grey;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 6px 1px;
}

th {
    margin-top: 50px;
    background-color: lightgrey;
    font-size: 1.5rem;
    font-weight: 900;
}

td{
    font-size:1.2rem;
    font-weight:500;
}

    td > a {
        text-decoration: none;
        color: cornflowerblue;
        font-weight: 700;
        cursor:pointer;
    }


th, td {
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-color: lightgrey;
}

tfoot td {
    border-top: 2px solid grey;
    font-weight: 800;
}

div.pagination button {
    border: solid 1px grey;
    border-radius: 13px;
    width: 70px;
    height: 40px;
    margin: 0 15px 0 0;
    box-shadow: rgba(0,0,0,0.1) -3px 2px;
    transition: all 0.3s ease;
}

    div.pagination button:hover:enabled {
        background-color: darkgrey;
        color: black;
        transform: translateY(-5px);
        transition: all 0.3s ease;
        cursor:pointer;
    }

button[name="numbers"] {
    width: 40px !important;
    height: 30px;
    margin: 0 15px 0 0;
}

    div.pagination button.active {
        background-color: black;
        color: white;
    }

div.pagination span {
    font-weight:800;
    margin: 15px 15px 0 0;
}

/* Background overlay */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
}

/* Popup box */
.modal-content {
    background-color: #e8e8e8;
    height:min-content;
    width: 80%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

div.modal-content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom:50px;
}

div.modal-content h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top:50px;
}

/* PO Background overlay */
.poModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
}

/* PO Popup box */
.poModal-content {
    background-color: #e8e8e8;
    height: min-content;
    max-height: 80%;
    width: 80%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    overflow: scroll;
    scrollbar-color: gray #e8e8e8;
}

div.poModal-content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
}

div.poModal-content h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 50px;
}

div.poEditHead {
    display: flex;
    justify-content: space-between;
}

div.poStatus {
    display: flex;

    h5 {
        margin-top:3%;
        margin-right: 20px;
        font-weight: 600;
        font-size: 1.7rem;
    }

    select {
        border-radius: 15px;
        padding: 7px;
        margin-right: 20px;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 1.3rem;
    }
}

div.remarksContainer {
    display: block;

    h5 {
        margin-top: 3%;
        margin-right: 20px;
        font-weight: 600;
        font-size: 1.7rem;
    }

    textarea {
        width:50%;
        padding: 7px;
        margin-right: 40px;
        background-color: white;
        border-radius: 12px;
    }
}

div.supplierDetail label {
    font-size: 1.3rem;
    font-weight: 500;
}

div.supplierDetail input {
    border-radius: 12px;
    border-color: white;
    border-width: 0;
    height: 50px;
    font-weight: 500;
    font-size: 1.3rem;
}

div.dateFilters input {
    border-radius: 15px;
    border-width: 0.5px;
    padding: 7px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 1.3rem;
}

div.supplierContact {
    display: flex;
    justify-content: space-between;
}

div.supplierContact div{
    width:30%;
}

div.supplierDetail button.addProductBtn {
    margin-left: 40%;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 0.5px solid black;
    background-color: lawngreen;
    border-radius: 15px;
    padding: 5px 40px 5px 40px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 5px 1px;
    cursor: pointer;
    transition: all 0.2s ease;
}

div.productRow{
    display:flex;
    margin-bottom:20px;
}

div.productRow select {
    border-radius: 12px;
    border-width:0;
    padding: 7px;
    margin-right: 40px;
    height: 50px;
    font-weight: 700;
    font-size: 1.3rem;
}

button.removeProductBtn {
    margin-left: 30%;
    border: none;
    background: none;
    padding-top: 20px;
    transition: all 0.2s ease;
}

    button.removeProductBtn:hover {
        transform: translateY(-3px);
        transition: all 0.2s ease;
    }


        button.removeProductBtn i {
            font-size: 3rem;
            color: red;
            cursor: pointer;
            padding-top: 15px;
        }

            button.removeProductBtn i:hover {
                color: #ef0000;
            }

div.poProductRow {
    display: flex;
    margin-bottom: 20px;
}

    div.poProductRow select {
        border-radius: 12px;
        border-width: 0;
        padding: 7px;
        margin-right: 40px;
        height: 50px;
        font-weight: 700;
        font-size: 1.3rem;
    }

    div.poProductRow h4 {
        margin-top: 100%;
        font-weight: 600;
    }

div.itemNum {
    margin-right: 2%;
}

button.removePOProductBtn {
    margin-left: 5%;
    border: none;
    background: none;
    padding-top: 20px;
    transition: all 0.2s ease;
}

    button.removePOProductBtn:hover {
        transform: translateY(-3px);
        transition: all 0.2s ease;
    }


    button.removePOProductBtn i {
        font-size: 3rem;
        color: red;
        cursor: pointer;
        padding-top: 15px;
    }

        button.removePOProductBtn i:hover {
            color: #ef0000;
        }

        div.supplierDetail button.addProductBtn:hover {
            background-color: greenyellow;
            transform: translateY(-5px);
            transition: all 0.2s ease;
        }

        div.decisionBtn {
            display: flex;
            margin-left: 77%
        }

            div.decisionBtn button.cancelBtn {
                background-color: #ef0000;
                border-radius: 25px;
                border: 3px solid black;
                padding: 5px 20px 5px 20px;
                font-size: 1.5rem;
                font-weight: 500;
                margin-right: 20px;
                box-shadow: rgba(0,0,0,0.3) 2px 2px 5px 1px;
                cursor: pointer;
                transition: all 0.2s ease;
            }

                div.decisionBtn button.cancelBtn:hover {
                    background-color: #fd0000;
                    transform: translateY(-5px);
                    transition: all 0.2s ease;
                }

            div.decisionBtn button.submitBtn {
                background-color: limegreen;
                border-radius: 25px;
                border: 3px solid black;
                padding: 5px 20px 5px 20px;
                font-size: 1.5rem;
                font-weight: 500;
                box-shadow: rgba(0,0,0,0.3) 2px 2px 5px 1px;
                cursor: pointer;
                transition: all 0.2s ease;
            }

                div.decisionBtn button.submitBtn:hover {
                    background-color: #38f238;
                    transform: translateY(-5px);
                    transition: all 0.2s ease;
                }

            div.decisionBtn button.saveBtn {
                background-color: limegreen;
                border-radius: 25px;
                border: 3px solid black;
                padding: 5px 20px 5px 20px;
                font-size: 1rem;
                font-weight: 700;
                box-shadow: rgba(0,0,0,0.3) 2px 2px 5px 1px;
                cursor: pointer;
                transition: all 0.2s ease;
            }

            div.decisionBtn button.saveBtn:hover {
                background-color: #38f238;
                transform: translateY(-5px);
                transition: all 0.2s ease;
            }

        /* Form styling */
        #addSupplierForm,#editSupplierForm input {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
        }

div input.quantity {
    padding: 7px;
    margin-right: 40px;
    background-color: white;
    border-radius: 12px;
}

div input.unitPrice {
    padding: 7px;
    margin-right: 40px;
    background-color: white;
    border-radius: 12px;
}

div input.rowTotal {
    padding: 7px;
    margin-right: 40px;
    background-color: white;
    border-radius: 12px;
}

