* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar span {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sidebar:hover span {
    opacity: 1;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.4s ease;
}

.sidebar:hover ~ .main-content {
    left: 150px;
    width: calc(100% - 250px);
}

.sidebar:hover {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.14s linear;
    cursor: pointer;
}

.sidebar:hover #btn {
    left: 80%;
    transform: translateX(0);
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar:hover .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar .top {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.sidebar:hover .top {
    opacity: 1;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}

.user p {
    color: #fff;
    opacity: 1;
    margin: 0;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar:hover p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%; 
    margin: 0.8rem auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    transform: translateX(-25px);
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar:hover .nav-item {
    opacity: 1;
}

.main-content {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}


.footer {
    background-color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}