* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.user-img {
    width: 50px;
    height: 50px;
    transform: translateX(-5px);
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar span {
    transform: translateX(-5%);
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar:hover span {
    opacity: 1;
    transform: translateX(5%);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.4s ease;
}

.sidebar:hover ~ .main-content {
    left: 150px;
    width: calc(100% - 250px);
}

.sidebar:hover {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.14s linear;
    cursor: pointer;
}

.sidebar:hover #btn {
    left: 80%;
    transform: translateX(0);
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    transform: translateX(25%);
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar:hover .top .logo {
    opacity: 1;
    transform: translateX(-0.5%);
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar .top {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.sidebar:hover .top {
    opacity: 1;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}

.user p {
    color: #fff;
    opacity: 1;
    margin: 0;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar:hover p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%; 
    margin: 0.8rem auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    transform: translateX(-25px);
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.sidebar .nav-item {
    opacity: 0;
    transition: all 0.5s ease;
    
}

.sidebar:hover .nav-item {
    opacity: 1;
}

.main-content {
    position: relative;
    display: flex;
    background-color: #fff;
    min-height: 10vh;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.search-container {
    position: relative;
    display: flex;
    height: 50px;
    right: 700px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 830px);
    transform: scaleX(0.8);
    transition: all 0.4s ease;
}

    .search-container:hover {
        width: 450px;
        transform: scaleX(0.9);
    }

    .search-container input {
        width: 100%;
        padding: 10px 40px 10px 20px;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        font-size: 18px;
    }

    .search-container i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
    }

.dashboard {
    display: flex;
    min-height: 30vh;
    border-radius: 20px;
    background-color: lightgray;
    width: calc(100% - 80px);
    padding: 20px;
}

.dashboard h3{
    margin: 10px 20px;
    margin-bottom: 15px;
}

.dashboard .info {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    transform: translate(-150px);
    min-height: 20vh;
}

.dashboard .product p {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
    .dashboard .product {
        background-color: #f0f0f0;
        padding: 50px;
        border-radius: 8px;
        flex: 1 1 150px;
        text-align: center;
    }