@model T_Stock.Models.Inventory

<div class="NOTI">
	<p>You don't have any notifications'</p>

	<div class="test">
		<p>Test</p>
	</div>

	<div class="button">
		<a class="ajax-nav" asp-action="Index" asp-controller="Home">
			Back
		</a>
	</div>
</div>