@model T_Stock.Models.Inventory

<p>You don't have any notifications'</p>

<div class="test">
	<p>Test</p>
</div>

<div class="button">
	<a asp-action="Index" asp-controller="Home">
		Back
	</a>
</div>
<div class="toggle-button">
	<button id="darkModeToggle">Toggle Dark Mode</button>
</div>